.product-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    box-sizing: content-box;

    .product-layout__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        grid-column: 3/11;
        margin-bottom: 60px;
        gap: 1px;
        padding-top: 15px;
    }
}